* {
  /* border: 1px solid black; */
  padding: 0px;
  margin: 0px;
}

:root {
  --main-color: #a7a5c6;
  --header-color: #9694b3;
  --text-color: #28262c;
  --header-border: 1.5px solid #83829c;
}

p,
details,
table,
li,
label {
  font-family: "Tenor Sans", sans-serif;
  color: var(--text-color);
}

h1,
h2,
nav,
h3,
h4,
table > caption,
legend {
  font-family: "Lato", sans-serif;
  color: var(--text-color);
}

body {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

h1 {
  text-align: center;
  background-color: var(--header-color);
  border-top: var(--header-border);
  border-bottom: var(--header-border);
  width: 100%;
  padding: 10px 0;
}

h1 {
  font-size: 3rem;
}
p,
li {
  font-size: 1.5rem;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
}

ul {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

li {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: flex-start; */
  flex: 0;
}

li > p {
  width: 1000px;
}

li > button {
  justify-self: flex-end;
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

button {
  width: 100px;
  height: 50px;
  margin: 20px;
  border-radius: 15px;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(152, 170, 170);
}

#prompt {
  width: 600px;
  margin-left: -300px;
  height: 500px;
  margin-top: -250px;
}

#confirm {
  width: 600px;
  margin-left: -300px;
  height: 200px;
  margin-top: -100px;
}

form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > fieldset {
  width: 80%;
  padding: 20px;
  background-color: rgb(184, 204, 204);
}

input,
textarea {
  margin: 10px 0px;
  padding: 5px;
}

legend {
  color: var(--text-color);
  font-size: 2rem;
}

input,
textarea {
  font-size: 1.3rem;
}

label {
  width: 30%;
  font-size: 1.5rem;
  padding-right: 10px;
}
